@font-face {
    font-family: 'futuralight';
    src: url('../fonts/futuralight.eot');
    src: url('../fonts/futuralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralight.woff') format('woff'),
         url('../fonts/futuralight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'futuramedium';
    src: url('../fonts/futuramedium.eot');
    src: url('../fonts/futuramedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuramedium.woff') format('woff'),
         url('../fonts/futuramedium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'futuraextended';
    src: url('../fonts/futuraextended-webfont.eot');
    src: url('../fonts/futuraextended-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuraextended-webfont.woff') format('woff'),
         url('../fonts/futuraextended-webfont.ttf') format('truetype'),
         url('../fonts/futuraextended-webfont.svg#futuraextendedregular') format('svg');
    font-weight: bold;
    font-style: normal;

}
input[type=radio]{-webkit-appearance:radio;}
input[type=checkbox]{-webkit-appearance:checkbox;}
input[type='number']{-moz-appearance:textfield;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;}
input[type=submit]{appearance:none;-moz-appearance:none;-webkit-appearance:none;}
html {-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.btn {-ms-touch-action: manipulation;touch-action: manipulation;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; -moz-transition:all .218s linear; -webkit-transition:all .218s linear; transition:all .218s linear; outline:none; -webkit-appearance: none;}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus { outline: none; outline: 0 auto -webkit-focus-ring-color; outline-offset: 0;}
a { color:#434341; text-decoration:underline; -moz-transition:all .218s ease-in; -webkit-transition:all .218s ease-in; transition:all .218s ease-in; outline:0;}
a:hover,
a:focus { color:#772221; }
a:focus,a:active,button,button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,select::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0; border-color:transparent; outline: none; -moz-outline-style: none; outline-offset: 0; -webkit-appearance: none; }
:-moz-any-link:focus {outline: none; }
button { -webkit-appearance: none; border:0;}

.btn-primary { background:#1d1d1b; -webkit-border-radius:0; border-radius:0; font-size:21px; text-transform:uppercase; padding:18px 65px; height:auto; border:0; text-transform:uppercase; }
.btn-primary:hover,
.btn-primary:focus { background:#772221; }

.radio-line { clear: left; float: left; line-height: 20px; vertical-align: middle; cursor: pointer; padding-left:25px; margin-bottom:10px; font-weight:normal; }
.radio-line input { display: none; }
.radio-line input + i { float: left; width: 20px; height: 20px; background:url(../img/icons.png) no-repeat -25px -130px; margin-left:-25px; }
.radio-line input:checked + i { background:url(../img/icons.png) no-repeat 0 -130px; }

.checkbox-line { clear: left; float: left; line-height: 20px; vertical-align: middle; cursor: pointer; padding-left:25px; margin-bottom:10px; font-weight:normal; }
.checkbox-line input { display: none; }
.checkbox-line input + i { float: left; width: 20px; height: 20px; background:url(../img/icons.png) no-repeat -25px -155px; margin-left:-25px; }
.checkbox-line input:checked + i { background:url(../img/icons.png) no-repeat 0 -155px; }

div.datepicker{ max-width:220px; min-width: 220px; padding:5px; background:white; }
div.datepicker .prev, .datepicker .next,
div.datepicker, .datepicker-switch { text-align:center !important; }
div.datepicker .year:hover,
div.datepicker .month:hover,
.datepicker .active,
.datepicker td:hover,
.datepicker th:hover { background:#3679ca; border-radius:3px; -webkit-border-radius:3px; color:white; cursor:pointer; }
.datepicker-years td:hover,
.datepicker-months td:hover { background:none; color:#666666; }
div.datepicker .year,
div.datepicker .month { display:inline-block; padding:5px; width:60px; }
div.datepicker .disabled { opacity: 0.5; pointer-events:none;}
div.datepicker table { width: 100%;}

.nopadding { padding-left:0 !important; padding-right:0 !important; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 15px 0; padding: 0; }
p { margin-bottom: 15px;}
h1 { font-size:48px; color:#1d1d1b; text-transform:uppercase; margin:0 0 22px 0; font-family: 'futuramedium'; }
h2 { font-size:30px; color:#1d1d1b; text-transform:uppercase; margin:0 0 66px 0; }
h3 { font-size:22px; color:#1d1d1b; margin:0 0 22px 0; font-family: 'futuramedium'; }
h4 { font-size:22px; color:#FFFFFF; text-transform:uppercase; margin:0 0 22px 0; font-family: 'futuramedium'; }

strong, b { font-weight:normal; font-family: 'futuramedium'; }

.tt { display:table; width:100%; height:100%; }
.tc { display:table-cell; width:100%; height:100%; vertical-align:middle; }

dl, dd, dt { margin:0; padding:0; }

.form-control { box-shadow:none; -webkit-box-shadow:none; border-color:#cccccc; height:37px; font-size:14px; color:#666666; border-radius:4px; -webkit-border-radius:4px; padding:5px 15px; font-weight:normal; -webkit-appearance: none; }
textarea.form-control { resize:none; }
.form-group { font-weight:normal;  }
.has-error .form-control {
	position:relative;
	border-color: #972420;
	background:#fde9e9;
	color:#972420;
	-webkit-box-shadow: inset 0 2px 4px rgba(133,50,65,.51);
			box-shadow: inset 0 2px 4px rgba(133,50,65,.51);
}
.has-error .form-control:focus {
	border-color: #972420;
	background:#fde9e9;
	color:#972420;
	-webkit-box-shadow: inset 0 2px 4px rgba(133,50,65,.51), 0 0 6px #ce8483;
			box-shadow: inset 0 2px 4px rgba(133,50,65,.51), 0 0 6px #ce8483;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width:100% !important; }
.bootstrap-select.btn-group .dropdown-menu li a span.text { padding-top:0 !important; font-family: 'futuralight' !important; }
.bootstrap-select.btn-group .btn .filter-option { font-size:14px; color:#666666; border-right:1px solid #cccccc; }
.btn.selectpicker { padding:0; }
.btn.selectpicker .filter-option { padding:8px 30px 8px 15px; display:block; text-overflow: ellipsis; white-space:nowrap; }
.bootstrap-select > .btn { padding-right:33px !important; }
.btn.selectpicker:hover { background:white; border-color:#cccccc; }
.btn-group.open .dropdown-toggle,
.btn.selectpicker:focus,
.btn.selectpicker:active { border-color: #66afe9 !important; background-color:white !important;
  outline: 0;
  -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, .6)!important;
  box-shadow: 0 0 8px rgba(102, 175, 233, .6)!important; }

.clear { clear:both; width:auto; height:0; overflow:hidden; }
.clear15 { height:15px; }
.clear10 { height:10px; }
.clear20 { height:20px; }
.clear30 { height:30px; }

body { font-family: 'futuralight'; background:#fafafa url(../img/bg_main.jpg); color:#434341; font-size:16px; position:relative; overflow-x:hidden;}


.navbar-collapse { margin:0; padding:0; width:100%; border-bottom:1px solid #1d1d1b; }
.navbar-nav { float:none; display:table; width:auto; text-align:center; margin:0 auto; }
.navbar-nav > li { display:table-cell; float:none; }
.navbar-default { border:0; border-radius:0; -webkit-border-radius:0; margin:0; background:none; }
.navbar-inverse .navbar-nav > li > a { color:#1c1d1b; font-size:20px; text-transform:uppercase; text-decoration:none; padding:17px 30px; }
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover { color:#772221; background:none; }
.navbar-inverse .navbar-nav > .active > a { font-family: 'futuramedium'; }
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus { color:#1c1d1b; }

.lavalamp-object {
  position: absolute;
  display: block;
  /*-webkit-transition: width 0.3s, left 0.3s;
  -moz-transition: width 0.3s, left 0.3s;
  -ms-transition: width 0.3s, left 0.3s;
  -o-transition: width 0.3s, left 0.3s;
  transition: width 0.3s, left 0.3s;*/
}
.lavalamp-object:after { content:''; position:absolute; left:50%; bottom:0; margin-left:-19px; width:38px; height:3px; background:#1d1d1b; }

.navbar-header { float:left; }
.navbar > .container .navbar-brand { margin-left:0; background:url(../img/icons.png) no-repeat 0 -340px; width:550px; height:76px; display:block; margin-bottom:32px; }
.htop { float:right; width:195px; text-align:center; font-size:12px; text-transform:uppercase; line-height:14px; color:#1c1d1b; }
.htop ul { margin:0 0 12px 0; padding:0; list-style:none; font-size:0; width:100%; text-align:center; }
.htop ul li { display:inline-block; margin:0 6px; }
.htop ul li a { display:block; -webkit-border-radius:100%; border-radius:100%; width:36px; height:36px; background:#434646; }
.htop ul li a.facebook { background:#507abd; }
.htop ul li a .fa { font-size:16px; line-height:36px; color:white; }
header { padding-top:47px; margin-bottom:38px; }

.container { width:1200px; padding:0 10px; }
.row { margin:0 -10px; }

.single-item .arrow { background:url(../img/icons.png) no-repeat; display:block; cursor:pointer; width:44px; height:48px; top:50%; margin-top:-24px; z-index:200; position:absolute; }
.single-item .arrow-left { left:28px; background-position:0 -90px; }
.single-item .arrow-right { right:28px; background-position:-55px -90px; }
.slick-slide { position:relative; }
.single-item .text { position:absolute; right:0; top:0; height:100%; width:410px; background:rgba(0,0,0,0.30); z-index:101; font-size:20px; line-height:26px; color:white;}
.single-item .text .tt { width:410px; }
.single-item .text .tc { vertical-align:bottom; width:410px; padding:20px; }
.single-item .text * { color:white; }
.single-item .text h2 { text-transform:none; font-family: 'futuramedium'; margin-bottom:15px; }
.single-item { margin-bottom:39px; }
.single-item:after { content:''; background:url(../img/shadow_slider.png) no-repeat; width:100%; height:27px; left:0; bottom:-27px; position:absolute; }
.slick-dots { margin:0; padding:0; list-style:none; text-align:center; font-size:0; position:absolute; left:0; bottom:-33px; right:0; z-index:100; }
.slick-dots li { -webkit-border-radius:100%; border-radius:100%; display:inline-block; margin: 0 5px;}
.slick-dots li button { -webkit-border-radius:100%; border-radius:100%; width:17px; height:17px; background:#1d1c1b; -webkit-appearance: none; }
.slick-dots li.slick-active button,
.slick-dots li button:hover { background:url(../img/icons.png) no-repeat 0 -150px; }

.welcome-cont { text-align:center; margin:0 auto 40px auto; max-width:980px; padding-top:76px; font-size:17px; }
.welcome-cont h2 img { display:inline-block; vertical-align:middle; margin:-5px 5px 5px 5px; }
.welcome-cont hr { max-width:600px; border-color:#1d1d1b; margin:30px auto; }

.parallax-window { min-height: 380px; background: transparent; }
.dark { background-color:#1d1d1b; }

.services-cont { padding-top:66px; text-align:center; margin:0 10px; }
.services-cont .row > div { padding:0 10px; }
.services-cont h1 { margin-bottom:10px; }
.services-cont .box .pic { position:relative; overflow:hidden; width:280px; height:350px; float:left; margin-left:-300px; }
.services-cont .box .pic img { width:110%; height:110%; margin:-5%; -moz-transition:all .218s linear; -webkit-transition:all .218s linear; transition:all .218s linear; }
.services-cont .box:hover .pic img { width:100%; height:100%; margin:0; }
.services-cont .box .text { border:1px solid white; position:absolute; left:10px; right:10px; bottom:10px; top:10px; z-index:10; padding:5px; }
.services-cont .box .text .tt { border:1px solid white; text-align:center; }
.services-cont .box .text h2 { color:white; margin-bottom:0; }
.services-cont .box .text strong { display:block; }
.services-cont .box { text-align:left; padding-left: 300px; font-size:16px; line-height:24px; color:#434341; margin-bottom:78px; }

.member-slider { margin-top:95px; margin-bottom:76px; min-height:276px; }
.member-slider .arrow { background:url(../img/icons.png) no-repeat; display:block; cursor:pointer; width:44px; height:48px; top:76px; z-index:200; position:absolute; }
.member-slider .arrow-left { left:28px; background-position:-112px -90px; }
.member-slider .arrow-right { right:28px; background-position:-169px -90px; }
.member-slider .slick-slide .text { max-width:980px; margin:0 auto; padding-left:300px; color:#1d1d1b; text-transform:uppercase; font-size: 19px; line-height:26px; font-style:italic; padding-top:15px;}
.member-slider .slick-slide .text .pic { float:left; margin-left:-278px; position:relative; margin-top:-15px; }
.member-slider .slick-slide .text .pic:after { content:''; position:absolute; left:10px; top:10px; right:10px; bottom:10px; border:1px solid white; -webkit-border-radius:100%; border-radius:100%;}
.member-slider .slick-slide .text img { -webkit-border-radius:100%; border-radius:100%; display:block; }
.member-slider .slick-slide .text h2 { margin-bottom:40px; color:#1d1d1b; font-style:normal; }
.quote { background:url(../img/icons.png) no-repeat 0 -185px; width:46px; height:32px; display:inline-block; margin:0 25px 0 0; }

.brands { background:#1d1d1b; color:white; text-align:center; padding:67px 0 0 0; }
.brands h1 { margin-bottom:10px; color:white; }
.brands h2 { margin-bottom:76px; color:white; }

.grid-sizer,
.brands-cont .grid-item { float:left; width:33.3333333333%; margin-bottom:66px; height:522px; padding:0 20px; }
.brands-cont { margin-bottom:46px; }
.brands-cont h4 { min-height:48px; }
.brands-cont h4.none { display:none; }
.brands-cont img { margin-bottom:22px; -moz-transition:all .218s linear; -webkit-transition:all .218s linear; transition:all .218s linear; }
.brands-cont .grid-item a,
.brands-cont .grid-item a h4 { color:white; text-decoration:none; -moz-transition:all .218s linear; -webkit-transition:all .218s linear; transition:all .218s linear; }
.brands-cont .grid-item a:hover,
.brands-cont .grid-item a:hover h4 { color:#772221; text-decoration:none; }
.brands-cont .grid-item:hover img { transform:rotate(1deg); }

.news-cont { padding-top:66px; text-align:center; margin:0 10px; padding-bottom:38px; }
.news-cont h1 { margin-bottom:10px; }
.news-cont .row > div { padding:0 10px; text-align:left; color:#434341; font-size: 16px; line-height:24px; margin-bottom:54px; }
.news-cont .row .date { font-size:14px; }
.news-cont .row p{ margin-bottom:22px; }
.news-cont .row h3 { color:#434341; }

.partners { background:url(../img/bg_partnereink.jpg); padding-top:66px; padding-bottom:160px; }
.partners h1 { color:white; text-align:center; margin-bottom:160px; }
.autoplay { max-width:1775px; width:100%; margin:0 auto; position:relative; }
.autoplay .slick-list { margin:0 100px; }
.autoplay .slick-slide { padding:0 40px; height:160px; }
.partners .arrow { background:url(../img/icons.png) no-repeat; display:block; cursor:pointer; width:44px; height:48px; top:50%; margin-top:-24px; z-index:200; position:absolute; }
.partners .arrow-left { left:0; background-position:0 -90px; }
.partners .arrow-right { right:0; background-position:-55px -90px; }

.contact-cont { padding-top:66px; text-align:center; margin:0 10px; }
.contact-cont h1 { margin-bottom:10px; }
.contact-cont .row > div { padding:0 10px; text-align:left; }

footer { background:#1d1d1b; padding:25px 0 0 0; }
footer * { color:white; font-size:15px; text-transform:uppercase; }
footer .row > div { margin-bottom:15px; padding:0 10px; float:left; }
footer .row > .col-right { text-align:right; margin-top:-4px; float:right; }
.flogo { background:url(../img/icons.png) no-repeat -257px -101px; width:179px; height:25px; display:inline-block; vertical-align:middle; margin:-4px 0 4px 5px; }
.primecoders { background:url(../img/icons.png) no-repeat -259px -138px; width:150px; height:34px; display:inline-block; vertical-align:middle; margin:-4px 0 4px 5px; }

.contact-cont .form-control { border:1px solid transparent; border-bottom:1px solid #1d1d1b; -webkit-box-shadow:none !important; box-shadow:none !important; -webkit-border-radius:0; border-radius:0; -moz-transition:all .218s linear; -webkit-transition:all .218s linear; transition:all .218s linear; font-size:18px; color:#434341; padding:5px 12px; height:40px; background-color:transparent; }
.contact-cont .form-control:focus { border:1px solid #1d1d1b; }
.contact-cont label { font-size:22px; text-transform:uppercase; color:#434341; font-family: 'futuramedium'; font-weight:normal; margin-bottom:0; }
.contact-cont textarea.form-control { border:1px solid #1d1d1b; height:220px; }
.contact-cont .form-group { margin-bottom:20px; }
.contact-cont .form-group.error label { color:#772221; }
.contact-cont .form-group.error .form-control { color:#772221; border-color:#772221; }
.contact-cont .row > div { margin-bottom:40px; font-size:22px; color:#434341; line-height:36px; }
.contact-cont .row h2 { color:#434341; margin-bottom:45px; font-size:20px; }
.contact-cont .row h2 strong { font-size:26px; }
.address { padding-left:100px; margin-bottom:95px; }
.address i { float:left; margin-left:-100px; background:url(../img/icons.png) no-repeat -511px -101px; width:78px; height:75px; }
.contact-cont ul { margin:0 0 40px 0; padding:0; list-style:none; font-size:0; width:100%; text-align:center; }
.contact-cont ul li { display:inline-block; margin:0 10px; }
.contact-cont ul li a { display:block; -webkit-border-radius:100%; border-radius:100%; width:48px; height:48px; background:#434646; }
.contact-cont ul li a.facebook { background:#507abd; }
.contact-cont ul li a .fa { font-size:20px; line-height:48px; color:white; }
.contact-cont .fb * { max-width:100%; height:auto; }

.fullscreen {
    width:100%;
    height:380px;
    overflow:hidden;
	background-position:50% 50%;
}

header { position:absolute; left:0; right:0; top:0; }
.smaller header { height:60px; position:fixed; left:0; right:0; background:#1d1d1b; z-index:1000; padding-top:12px; -webkit-box-shadow:0 0 10px rgba(0,0,0,0.50); box-shadow:0 0 10px rgba(0,0,0,0.50); }
.header-holder { height:248px; }
.smaller .htop .text { display:none; }
.smaller #navbarCollapse { position:absolute; right:105px; top:-70px; }
.smaller .navbar-inverse .navbar-nav > li > a { color:white; padding:12px; font-size:16px; }
.smaller .navbar-nav { width:auto; float:right; }
.smaller .container { position:relative; }
.smaller .lavalamp-object:after { background:white; }
.smaller .htop { width:105px; }
.smaller .navbar > .container .navbar-brand { width:251px; height:35px; }
.smaller .navbar-inverse .navbar-nav > .active > a,
.smaller .navbar-inverse .navbar-nav > .active > a:hover,
.smaller .navbar-inverse .navbar-nav > .active > a:focus { color:white; }
.smaller .navbar-collapse { border-bottom:0; }
.smaller .navbar > .container .navbar-brand { background-position:0 -425px; position:relative; z-index:1000; }

.mobile-header { display:none; }

.maddress { display:none !important; }

.breadcrumb { font-size:24px; color:#1d1d1b; border:0; background:none; text-align:center; text-transform:uppercase; }
.breadcrumb span { font-size:36px; }
.breadcrumb .arrow { margin:0 5px; }

.container-fluid { padding:20px 15px; }

.brands-list .grid-sizer,
.brands-list .grid-item { width:20%; float:left; height:auto; padding:5px; }
.brands-list .grid-item img { width:auto; max-width:100%; height:auto; }

.back-link { text-align:center; font-size:18px; text-transform:uppercase; padding:65px 0; }
.back-link a { text-decoration:none; background:url(../img/arrow.png) no-repeat 0 8px; padding-left:15px; }
.back-link span { font-size:22px; display:inline-block; vertical-align:bottom; margin:7px 5px -7px 0; }

.fancybox-overlay.fancybox-overlay-fixed { overflow-x:hidden !important; }

.modal-backdrop, .modal-backdrop.fade.in { background:rgba(0,0,0,0.70); }
.modal { border:0; padding:20px; -webkit-border-radius:0; border-radius:0; -webkit-box-shadow:none; box-shadow:none; margin-bottom:0 !important; }
.modal-dialog { background:white; width:1190px; padding:20px; }
.modal-header { padding:0; border:0; position:relative; min-height:inherit; }
.modal-body { padding:0; font-size:17px; line-height:24px; color:#434341; }
.modal-footer { border-top:1px solid #1d1d1b; text-align:center; padding-bottom:0; padding-top:20px; }
.modal-footer a { color:#434341; font-size:17px; text-decoration:none; }
.modal-footer a:hover,
.modal-footer a:focus { color:#772221; }
.modal-footer a i { background:url(../img/icons.png) no-repeat -601px -378px; width:26px; height:26px; display:inline-block; vertical-align:middle; margin:-2px 10px 2px 0; }
.modal-body h3 { font-size:26px; line-height:30px; font-family: 'futuramedium'; color:#434341; }
.modal-body .date { font-size:18px; font-family: 'futuramedium'; }
.modal-body p { margin-bottom:20px; }
.img-left { float:left; margin:0 20px 20px 0; }



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	.modal-footer a i,
	.fancybox-nav span,
	.mlogo,
	.mobile-header .logo,
	.address i,
	.primecoders,
	.flogo,
	.partners .arrow,
	.quote,
	.member-slider .arrow,
	.slick-dots li.slick-active button,
	.slick-dots li button:hover,
	.single-item .arrow,
	.navbar > .container .navbar-brand { background-image:url(../img/icons@2x.png) !important; background-size:700px 500px !important; }
	
}